* {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
    background-color: #38857e;
}

a {
    text-decoration: none;
}

/*Applies to all "boxes" found in the game, including menu, scoreboard, etc.*/

.game-box {
    border-style: inset;
    border-color: #dbc172;
    background-color: #e3d991;
    border-width: 20px;
    box-shadow: 5px 10px 20px black;
}

.box-title {
    text-align: center;
    margin-top: 15px;
    font-weight: bold;
    color: darkblue;
}

.box-subtitle{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

/*Applies to all buttons found on the website*/

.button{
    background-color: white;
    border-color: lightblue;
    border-width: 5px;
    border-style: outset;

}

/*Added button click animations for any button found on the website*/

.button:hover{
    background-color: red;
    color: white;
}

.button:active{
    background-color: white;
    color: darkblue;
    border-style: inset;
}

/*
MAIN MENU STYLES

Applies to buttons found in the main menu
*/
.main-menu-button{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-top: 25px;
    width: 200px;
}

/*For the main menu of the game*/

#main-menu-box, #rules-box{
    position: relative;
    color: darkblue;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#main-menu-button-container{
    margin-top: 20%;
}

/*For the rules box*/

#rules-box{
    position: relative;
}

#rules-container{
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    list-style-position: inside;
}

/*
GAME STYLES
For the game screen*/

#exit-button{
    width: 150px;
    margin-top: 10px;
    margin-left: 10px;
    padding: auto;
    text-align: center;
    color: darkblue;
}

#scoreboard{
    margin: auto;
    height: 100px;
    width: 300px;
}

#battlefield{
    border-width: 10px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    padding-bottom: 100px;
}

#ai-choice{
    text-align: center;
    color:darkblue;
    margin-top: 10%;
    font-size: 25px;
}

#result{
    text-align: center;
    color:red;
    font-weight: bold;
    margin-top: 10%;
    font-size: 25px;
    overflow: hidden;
}

#choice-box{
    margin: auto;
    margin-top: 15px;
    height: 87px;
    width: 120px;
    border-width: 10px;
    overflow: hidden;
}

#start-over{
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 15px;    
}
