* {
    margin: 0;
    padding: 0;
    background-color: #38857e;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    text-decoration: none;
}

/*Format for all box title text*/

.box-title {
    background-color: #e3d991; 
    color: darkblue;
    text-align: center;
    margin-top: 15px;
}

/*Applies to all "boxes" found in the game, including menu, scoreboard, etc.*/

.game-box {
    border-style: inset;
    border-color: #dbc172;
    background-color: #e3d991;
    border-width: 20px;
    box-shadow: 5px 10px 20px black;
}

/*Applies to all buttons found on the website*/

.button{
    color: darkblue;
    background-color: white;
    border-color: lightblue;
    border-width: 5px;
    border-style: outset;

}

/*Added button click animations for any button found on the website*/

.button:hover{
    background-color: red;
    color: white;
}

.button:active{
    background-color: white;
    color: darkblue;
    border-style: inset;
}

/*
MAIN MENU STYLES

Applies to buttons found in the main menu
*/
.main-menu-button{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-weight: bold;
    margin: auto;
    margin-top: 25px;
    width: 200px;
}

/*For the main menu of the game*/

#main-menu-box {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}

#main-menu-button-container{
    margin-top: 20%;
}

